<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.kingston.pg2"
        versionCode="11"
        version="1.2.0">
    <name>
        ICE-K Ash Bus
    </name>
    <description>
        Helping the Ashesi community pay Ashesi better.
    </description>
    <author href="http://www.ashesi.edu.gh" email="delcoker@gmail.com">
        Kingston Coker
    </author>
    <icon src="resources/bus.png"/>
    <gap:splash src="splash.png"/>
    <gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.2.0"/>
    <plugin name="cordova-plugin-whitelist" spec="1.3.0" />
    <plugin name="cordova-plugin-insomnia" spec="4.2.0" /> <!--prevents screen from going to sleep-->
    <!--<gap:plugin name="cordova.plugins.diagnostic" source="npm" />-->
    <!--<gap:plugin name="cordova-plugin-request-location-accuracy" source="npm" />  doesnt work-->
    <!--<gap:plugin name="cordova-plugin-mauron85-background-geolocation-phonegapbuild" source="npm"/>  doedsnt work-->
    <gap:plugin name="fr.louisbl.cordova.gpslocation" source="pgb" />
    <plugin name="org.transistorsoft.cordova.background-geolocation" source="pgb" spec="0.3.5" />    <!--  run geolocation even in background-->
    <!--<gap:plugin name="com.red_folder.phonegap.plugin.backgroundservice" source="pgb" />-->
    <allow-navigation href="*"/>
    <allow-intent href="*"/>
    <access origin="*"/>
</widget>
